* {
    margin: 0px;
}
.one, .two, .three, .four {
    padding: 10px 20% 100px 20%;
}
/*
    One
*/
.one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    
}
.header-logo{
    color: #f9faf8;
    font-size: 24px;
}
.header-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
}
a{
    color: #e5e7eb;
}
.SubHeader {
    display: flex;
    justify-content: space-between;
}
.HeroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.HeroSub {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}
img {
    width: 400px;
}

/*
    Two
*/
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.subheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.main-2{
    display: flex;
}
.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.square {
    height: 150px;
    width: 150px;
    border:#3882f6 solid;
    border-radius: 10px;
}

/*
    Three
*/
.three {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}
.sub-3 {
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
}
.attribution {
    align-self: flex-end;
}